* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.container {
  min-width: 80%;
}
.flex {
  display: flex;
}
header {
  background-color: #f1fdff;
  height: 729px;
}
