* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.flex {
  display: flex;
}

header {
  background-color: #f1fdff;
  height: 729px;
  margin-bottom: 7rem;
}
header nav .logo {
  margin-top: 4rem;
}
header nav .container {
  flex-direction: row;
  justify-content: space-between;
}
header nav .nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  list-style-type: none;
  margin-top: 4rem;
}
header nav .nav-link,
.nav-button {
  text-decoration: none;
  color: #212121;
  transition: all 0.3s ease-in-out;
}
header nav .nav-link:hover {
  color: #616161;
}
header nav .nav-button {
  background-color: #7ae5fd;
  padding: 1rem 1.5rem;
  border-radius: 5rem;
}
header nav .nav-button:hover {
  background-color: #a5edfd;
}

.hero {
  align-items: center;
  margin-top: 5rem;
}
.hero .main-heading {
  text-transform: uppercase;
  color: #9ad2de;
  font-weight: 900;
  font-size: 5rem;
  width: 50%;
  line-height: 1;
}
.hero .additional-text {
  margin-top: 5rem;
  font-size: 1.3rem;
  width: 50%;
}

main .first-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
main .first-info p {
  color: #73a6b1;
  width: 50%;
  margin: 0 auto;
}
main .first-info h3 {
  font-weight: normal;
  font-size: 1.5rem;
}
main .first-info h2 {
  font-weight: normal;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
