* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  height: 729px;
}
.hero h1 {
  line-height: 1;
}
.hero p {
  font-size: 1.3rem;
}
#program-section p {
  font-size: 1.2rem;
}
#program-section h3 {
  font-size: 1.6rem;
}
#program-section h2 {
  font-size: 3.4rem;
  letter-spacing: 0.06rem;
}
.card h2 {
  font-size: 2.5rem;
}

.schedule {
  margin-top: 2rem;
}
.schedule .time {
  color: #3d8c9d;
}
.button-container {
  margin: 1.5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.learn-more {
  text-transform: uppercase;
  margin: 2rem auto;
  text-decoration: none;
  padding: 1rem 2rem;
  background: #7ae5fd;
  color: #212121;
  border-radius: 2rem;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.learn-more:hover {
  background: #96e1f1;
}

.present {
  margin: 12rem auto;
  margin-bottom: 16rem;
}
.present .relative-container {
  position: relative;
}
.present .card {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
}
.present .card .text {
  padding: 3rem;
  padding-left: 1.5rem;
  flex: 1;
  max-width: 30rem;
}
.present .card .present-container {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.present-container img {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.present .background-img {
  display: flex;
  justify-content: center;
}
.present .background-img img {
  position: absolute;
  max-width: 110%;
  z-index: -1;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.donate {
  margin: 12rem auto;
  margin-bottom: 8rem;
}
.donate .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}
.donate .heading h2 {
  font-size: 3.5rem;
  font-weight: normal;
  text-transform: uppercase;
}
.donate .heading p {
  color: #73a6b1;
  font-size: 1.2rem;
}
.donate .goal {
  margin: 3rem auto;
}
.goal h2 {
  font-weight: normal;
  font-size: 1.6rem;
}
.goal .already-there {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  font-size: 3.3rem;
  gap: 1rem;
}
.already-there .divider {
  border-left: 2px solid #9ad2de;
  height: inherit;
}
.make-donate {
  background: #7ae5fd;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 2rem;
  color: #212121;
  transition: all 0.2s ease-in-out;
}
.make-donate:hover {
  background: #a5edfd;
}

footer {
  background-color: #f9fadf;
  position: relative;
  z-index: 0;
  padding-bottom: 6rem;
  overflow: hidden;
}
footer .bg-image {
  filter: brightness(100);
  position: absolute;
  top: -7rem;
  right: 37rem;
  transform: scale(0.8);
  z-index: -1;
}
footer .upper-section {
  display: flex;
  flex-direction: row;
  padding-top: 3rem;
}
.upper-section h2 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 3.5rem;
  flex: 1;
}
.upper-section .right-column {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-top: 1rem;
}
.right-column i {
  padding-bottom: 1rem;
  padding-right: 0.5rem;
  transition: all 0.2s ease-in-out;
}
.right-column i:hover {
  transform: translateY(-0.2rem);
  cursor: pointer;
}
.right-column p {
  max-width: 70%;
  font-size: 1.2rem;
}
.form-section {
  background: #fff;
  display: flex;
  flex-direction: columns;
  z-index: 1;
  margin-top: 6rem;
  padding: 2rem;
  border-radius: 1rem;
}
.form-section .left {
  flex: 1;
}
.form-section .left img {
  width: 27rem;
}
.form-section .right {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  width: 45%;
}
.form-section .right h2 {
  font-weight: normal;
  font-size: 1.6rem;
}
.form-section form {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.form-section form input {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background: #f9fadf;
  border: none;
  border-radius: 3rem;
  transition: all 0.2s ease-in-out;
}
.form-section form input::placeholder {
  color: #212121;
}
.form-section form input:hover {
  background: rgba(236, 237, 221, 0.851);
}
.form-section form button {
  background: #7ae5fd;
  border: none;
  padding: 1rem;
  border-radius: 3rem;
  text-transform: uppercase;
  font-size: 1.1rem;
  transition: all 0.2s ease-in-out;
}
.form-section form button:hover {
  background: #98eafd;
  cursor: pointer;
}
