.fxlex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.uppercase {
  text-transform: uppercase;
}
.btn.round {
  border-radius: 1rem 2rem;
}
.bg-lblue {
  background-color: #f1fdff;
}
.card {
  padding: 2rem;
  border-radius: 1rem;
}

.p-sm {
  padding: 1rem;
}
.pt-sm {
  padding-top: 1rem;
}
.pr-sm {
  padding-right: 1rem;
}
.pb-sm {
  padding-bottom: 1rem;
}
.pl-sm {
  padding-left: 1rem;
}

.p-md {
  padding: 2rem;
}
.pt-md {
  padding-top: 2rem;
}
.pr-md {
  padding-right: 2rem;
}
.pb-md {
  padding-bottom: 2rem;
}
.pl-md {
  padding-left: 2rem;
}

.p-xl {
  padding: 4rem;
}
.pt-xl {
  padding-top: 4rem;
}
.pr-xl {
  padding-right: 4rem;
}
.pb-xl {
  padding-bottom: 4rem;
}
.pl-xl {
  padding-left: 4rem;
}

.m-sm {
  margin: 1rem;
}
.mt-sm {
  margin-top: 1rem;
}
.mr-sm {
  margin-right: 1rem;
}
.mb-sm {
  margin-bottom: 1rem;
}
.ml-sm {
  margin-left: 1rem;
}

.m-md {
  margin: 2rem;
}
.mt-md {
  margin-top: 2rem;
}
.mr-md {
  margin-right: 2rem;
}
.mb-md {
  margin-bottom: 2rem;
}
.ml-md {
  margin-left: 2rem;
}

.m-xl {
  margin: 4rem;
}
.mt-xl {
  margin-top: 4rem;
}
.mr-xl {
  margin-right: 4rem;
}
.mb-xl {
  margin-bottom: 4rem;
}
.ml-xl {
  margin-left: 4rem;
}
