.flex {
  display: flex;
}
.tr-fast {
  transition: all 0.2s ease-in-out;
}
.tr-slow {
  transition: all 0.4s ease-in-out;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.g-sm {
  gap: 1rem;
}
.g-md {
  gap: 2rem;
}
.g-lg {
  gap: 4rem;
}
.jc-l {
  justify-content: start;
}
.jc-c {
  justify-content: center;
}
.jc-r {
  justify-content: end;
}
.jc-bet {
  justify-content: space-between;
}
.jc-aro {
  justify-content: space-around;
}
.ai-l {
  align-items: start;
}
.ai-c {
  align-items: center;
}
.ai-r {
  align-items: end;
}
.ai-bet {
  align-items: space-between;
}
.ai-aro {
  align-items: space-around;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.uppercase {
  text-transform: uppercase;
}
.btn {
  padding: 1rem 2rem;
}

.bg-lblue {
  background: #f1fdff;
}
.bg-blue {
  background: #7ae5fd;
}
.txt-blk {
  color: #212121;
}

.brad-sm {
  border-radius: 1rem;
}
.brad-md {
  border-radius: 2rem;
}
.brad-lg {
  border-radius: 4rem;
}

.op-9 {
  opacity: 0.9;
}
.op-7 {
  opacity: 0.7;
}

.card {
  padding: 2rem;
  border-radius: 1rem;
}
.up-sm:hover {
  transform: translateY(-0.2rem);
}
.up-md:hover {
  transform: translateY(-0.4rem);
}
.up-lg:hover {
  transform: translateY(-0.6rem);
}

.p-sm {
  padding: 1rem;
}
.pt-sm {
  padding-top: 1rem;
}
.pr-sm {
  padding-right: 1rem;
}
.pb-sm {
  padding-bottom: 1rem;
}
.pl-sm {
  padding-left: 1rem;
}

.p-md {
  padding: 2rem;
}
.pt-md {
  padding-top: 2rem;
}
.pr-md {
  padding-right: 2rem;
}
.pb-md {
  padding-bottom: 2rem;
}
.pl-md {
  padding-left: 2rem;
}

.p-lg {
  padding: 4rem;
}
.pt-lg {
  padding-top: 4rem;
}
.pr-lg {
  padding-right: 4rem;
}
.pb-lg {
  padding-bottom: 4rem;
}
.pl-lg {
  padding-left: 4rem;
}

.m-sm {
  margin: 1rem;
}
.mt-sm {
  margin-top: 1rem;
}
.mr-sm {
  margin-right: 1rem;
}
.mb-sm {
  margin-bottom: 1rem;
}
.ml-sm {
  margin-left: 1rem;
}

.m-md {
  margin: 2rem;
}
.mt-md {
  margin-top: 2rem;
}
.mr-md {
  margin-right: 2rem;
}
.mb-md {
  margin-bottom: 2rem;
}
.ml-md {
  margin-left: 2rem;
}

.m-lg {
  margin: 4rem;
}
.mt-lg {
  margin-top: 4rem;
}
.mr-lg {
  margin-right: 4rem;
}
.mb-lg {
  margin-bottom: 4rem;
}
.ml-lg {
  margin-left: 4rem;
}

.list-none {
  list-style-type: none;
}
.z-1 {
  z-index: 1;
}
.z-2 {
  z-index: 2;
}
.z-3 {
  z-index: 3;
}
.z-4 {
  z-index: 4;
}
.z-5 {
  z-index: 5;
}
.z--1 {
  z-index: -1;
}
.z-0 {
  z-index: 0;
}

.dec-none {
  text-decoration: none;
}
.dec-under {
  text-decoration: underline;
}
