* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #eee;
  background-color: #212121;
}
h1,
h2 {
  margin: 2rem 1rem 1rem 1rem;
}
p {
  margin: 1rem;
}
li {
  margin: 0.5rem 2rem;
}
.date {
  color: #bbb;
  font-style: normal;
  font-size: 1.05em;
  font-weight: 600;
  margin-left: 1rem;
}
a {
  color: inherit;
}
