.cat-avatar {
  width: 50%;
  height: 120%;
  float: left;
  margin-right: 2rem;
}
header {
  width: 80%;
  margin: 0 auto;
}
.header-box {
  background-color: #505050;
  margin: 2rem;
  border-radius: 2rem;
  overflow: hidden;
}
.header-box h1 {
  margin-top: 1rem;
}
.header-box h2 {
  margin-top: 0.7rem;
  font-size: 1.2rem;
}

.header-box form label {
  display: block;
  margin-top: 2rem;
}
.header-box form #input-box {
  background-color: inherit;
  border: none;
}
.header-box form a {
  text-decoration: none;
}
.search-box {
  margin-top: 0.5rem;

  background-color: inherit;
  border: 1px solid #eee;
  border-radius: 1rem;
  width: 200px;
  overflow: hidden;
}
