article.first-article p:nth-of-type(3) {
  color: #fb3da6;
}
#paragraph-2 {
  color: #e6b3a9;
}
a {
  text-decoration: none;
}
.some-box {
  display: block;
  text-decoration: none;
  background-color: rgb(12, 52, 96);
  background-color: #3eb6e1;
  margin: 1rem;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 3rem;
  transition: all 0.3s ease-in-out;
}
.some-box:hover {
  opacity: 0.8;
  cursor: pointer;
}

.other-article h2 {
  background-color: #595959;
  padding: 0.6rem;
}
.other-article .article-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.sidebar h3 {
  margin: 1rem 0;
}
.article-heading {
  margin-bottom: 0;
}
.content {
  width: 70%;
}
.sidebar {
  width: 24%;
}

.side-box p:first-of-type {
  margin: 1rem 0;
  width: 4rem;
  font-size: 0.9rem;
  text-align: center;
  background-color: #595959;
  border-radius: 0.6rem;
}
.side-box h4 {
  margin: 0;
}
.side-box {
  cursor: pointer;
  display: block;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px #454040 solid;
}
