* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: #eee;
  color: #212121;
}

.wrapper {
  border: 2px solid #212121;
  display: flex;
  flex-direction: row;
  margin: 2rem;
  flex-wrap: wrap;
}
.box {
  height: 30rem;
  border: 1px solid #212121;
  background: rgb(172, 156, 111);
  flex-grow: 1;
  color: #eee;
  padding: 1rem;
  width: 30%;
}

/* will execute when device screen width is < 2000px */
@media screen and (max-width: 2000px) {
  .box {
    background: #679879;
  }
}
@media screen and (max-width: 500px) {
  .wrapper {
    flex-direction: column;
  }
  .box {
    width: auto;
    background: #9c6078;
  }
}
