* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #eee;
  background-color: #212121;
}
.breadcrumbers {
  padding: 1rem;
  border-bottom: 1px solid #eee;
  background-color: #303030;
}
a {
  color: inherit;
}
